body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #0056b3;
}
.fade-out {
  opacity: 1;
  transition: opacity 1s ease-out; /* smooth fade over 1 second */
}

.fade-out.hidden {
  opacity: 0;
}
input.border-red-500 {
  border-color: #ef4444 !important; /* Tailwind red-500 */
}
